{% extends "admin/base_site.html" %}
{% load static %}
{% load i18n %}

{% block branding %}
<div>
    <h1 id="site-name">
        <a href="{% url 'index' %}">Biblioteca Digital de Artigos</a>
    </h1>
    <p style="padding-left: 4px; color: #f0f0f0; font-size: 0.8rem;">
        Departamento de Ciência da Computação - UFMG
    </p>
</div>
{% endblock %}

{% block userlinks %}
    {% if user.is_active and user.is_staff %}
        {% url 'django-admindocs-docroot' as docsroot %}
        {% if docsroot %}
            <a href="{{ docsroot }}">{% translate 'Documentation' %}</a> /
        {% endif %}
    {% endif %}
    {% if user.has_usable_password %}
        <a href="{% url 'admin:password_change' %}">{% translate 'Change password' %}</a> /
    {% endif %}
    <a href="{% url 'admin:logout' %}">{% translate 'Log out' %}</a>
{% endblock %}

{% block extrastyle %}
    {# Carrega primeiro o CSS original da administração para não quebrar nada #}
    {{ block.super }}
    
    {# Adiciona o link para a nossa folha de estilo personalizada #}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/custom.css' %}">
{% endblock %}
