{% extends "admin/change_form.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
    &rsaquo; {% if add %}Adicionar {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}

{# Este bloco remove o botão "Importar em Massa" que existia anteriormente nesta página #}
{% block object-tools-items %}{{ block.super }}{% endblock %}